<div class="row">
    <div class="card col" style="width: 18rem;" *ngFor = "let item of items">
      <img class="card-img-top" src="{{item.image}}">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.price}}</p>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>

  </div>
<form>
      
      <div class="form-check">
        <h3>Total amount: </h3>
      </div>
      <button type="submit" class="btn btn-primary">Checkout</button>
    </form>