<a class="nav-link" routerLink="/products"
routerLinkActive="active">Back To Products</a>
<div class="row">
 
    <div class="card col" *ngFor = "let item of items">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">${{item.price}}</p>
        <a class="btn btn-danger" (click)="removeFromCart(item)">Delete</a>
      </div>
     
    
     
    </div>

  </div>
<form>
      
      <div class="form-check">
        <h3>Total amount: </h3> <h3>${{total}}</h3>
      </div>
      <button type="submit" class="btn btn-primary" routerLink="/checkout"
      routerLinkActive="active">Checkout</button>
    </form>